form {
    /* display: grid; */
    /* grid-template-columns: 1fr 3fr; */
    gap: 1.25vmin;
    color: black;
}

.search{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    max-height: 50vh;
    margin: 2em;
    
}

.allData{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
