form {
    /* display: grid; */
    /* grid-template-columns: 1fr 3fr; */
    gap: 1.25vmin;
    color: black;
}

.meal{
    margin: 1.5em;
}

.search{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    max-height: 50vh;
    
}