.form-container {
  padding: 3vmin;
  background-color: #0800804f;
  border: .1vmin solid black;
  border-radius: 1vmin;
  max-width: 50%;
  text-align: center;
  margin: auto;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: black;
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
  color: white;
  
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid #080080;
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: black;
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: black;
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button:hover{
 background-color: orangered;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--tan-4);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}

ul{
  text-decoration: none;
}

/* body{
  background-image: url('https://you.com/proxy?url=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.dsjKZ_SU99nzyrkfQYNQxgHaMW%26h%3D690%26c%3D7%26pid%3DApi%26p%3D0');
  background-position: center;
  background-size: cover;
} */

body{
  background-image: url('https://wallpaperaccess.com/full/2689609.jpg');
 background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}